* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#wrap {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
}
h3,.header-top p,
.toggle-label
{font-family: 'Minhye', sans-serif;}

.wedding-area {
    background: white;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1); /* 10px */
    text-align: center;
    max-width: 50rem; /* 600px */
    overflow: hidden;
}

.inner-header {
    text-align: center;
    letter-spacing: -.2px;
    font-family: Crimson Pro;
    color: #49413a;
}

.full-page-header {
    height: 95vh; /* 전체 화면 높이 
     background: url('../photo/main.jpg') no-repeat center center/cover;*/
   display: flex;
   /*align-items: center;*/
   text-align: center;
   flex-direction: column;
   justify-content: space-between;

}

.full-page-header h1 { font-size: 2.5rem; font-weight: 700;/* 헤더 제목 폰트 크기 */}

.header-top{
  position: relative;
  width: 100%;
  padding:4rem 0 3rem;
background-color: #fff;
font-family: 'GowunBatang-Regular', sans-serif; 
}



.header-bottom {
  position: relative;
  bottom:0;
  padding:4rem 0 3rem;
  background-color: #fff;
}

.header-top p,
.header-bottom p {
  padding-top:1rem; 
  line-height: 2.5rem;
  font-family: 'GowunBatang-Regular', sans-serif; 
  font-size: 1.6rem;}

  .header-bottom h3 {font-size: 2.8rem;}
  header .top-img img {max-width: 100%;}

p {
line-height: 2.5rem;
font-family: 'GowunBatang-Regular', sans-serif; 
font-size: 1.6rem;
}

section {
  position: relative;
  padding: 3rem;}

.container {
    padding:2rem 0;
    background: white;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1); /* 10px */
    text-align: center;
    max-width: 60rem; /* 600px */
    overflow: hidden;
}
.tit_area { 
    padding:3rem 0;
    text-align: center;
    color:#d2a369;
}
.tit_area span {
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'GowunBatang-Regular', sans-serif; 
}

p.map {}

.tit_area h3 { font-size: 3.2rem;}

.waves {
  position: relative;
  width: 100%;
  height: 3.5vh;
  margin-bottom: -7px;
  min-height: 1rem;
  max-height: 5rem;
}

.wave.top {
  position: relative;
  top:3.2rem;
  transform: scaleY(-1);
  transition: .3s;
  display: block;
  margin-top: -30px
}
.wave.bottom {
  position: relative;
  top: -30px;
  margin-bottom: -30px;
  display: block
}

/* Animation */
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)  infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}


@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}





.img-area img {width: 100%;
border-radius: 2rem;}




/*포토 갤러리*/
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-between;
}

.row img {width: 100%;}
/* Create four equal columns that sits next to each other */
.column {
-ms-flex: 31%; /* IE10 */
flex: 31;
max-width: 31%;
display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.column img {
margin-bottom: 1rem;
vertical-align: middle;
width: 100%;
border-radius: 1rem;
}




/*토글*/

.toggle-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.toggle-list p {font-family: Arial, Helvetica, sans-serif;}

.toggle-item {margin-bottom: 10px;}
.toggle-checkbox {display: none;}

.toggle-label {
  display: block;
  height: 4rem;
  line-height: 4rem;
  background-color: #ffff;
  color: #333;
  font-size: 2.4rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5rem;
  border: solid 2px #E1E4E9;
  transition: background-color 0.3s ease;
}

.toggle-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, padding 0.5s ease-out;
  padding: 0 10px;
  border-radius: 0.5rem;
}

.toggle-content li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
  border-bottom: solid 1px #E1E4E9;
}
.toggle-content li p {font-size: 1.6rem; text-align: left; line-height: 2.5rem;}
.toggle-content li span {font-weight: 700;}


.toggle-checkbox:checked + .toggle-label + .toggle-content {
  max-height: 25rem; /* 충분히 큰 값으로 설정 */
  padding: 10px;
}

.copy-button {
  display: block;
  padding: 0.5rem 1rem;
  background: #f1f3f8;
  color: #333;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background-color 0.3s;
  right: 12px;
  top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  font-family: noto sans kr, sans-serif;
  line-height: 2.4rem;
  font-weight: 700;
  border-radius:1rem;
}

.accst02 .pack_wrap.active .pack i {
  transform: rotate(180deg);
}
.accst02 .pack > i {
  font-size: 1.2rem;
  color: #999;
}

.navi_button_wrap {
  display: flex;
  margin: 0 -3px;
  margin-top: 12px
}
.navi_button {
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 15px;
  margin: 0 3px;
  border: 1px solid #eaeaea;
  height: 5.7rem;
  width: 33.333%;
  background: #fff;
  border-radius: 12px;
  height: 4rem;
  border-radius: 8px
}

ul.wayto .navi_button>span {
  font-weight: 500;
  color: #000;
  position: relative;
  font-size: 1.2rem;
  padding-left: 22px
}

.navi_button>span:before {
  display: block;
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 17px;
  height: 17px;
  background-image: url(../img/ico_nav03.png);
  background-size: 17px auto;
  margin-top: -8.5px
}

.navi_button:nth-child(2)>span:before {background-image: url(../img/ico_nav02.png)}
.navi_button:nth-child(3)>span:before { background-image: url(../img/ico_nav01.png)}
.navi_button>span {font-size: 1.4rem;}


.image-section {
  position: relative;
  margin-top: 20px;
}

.text-overlay {
  position: absolute;
    bottom: 5rem;
    right: 2rem;
    color: white;
    text-align: right;
    line-height: 3rem;
    font-family: 'GowunBatang-Regular', sans-serif;
    color: #fff;
    font-size: 3.2rem;
    opacity: 0.7;
}

.text-overlay h1, .text-overlay p {margin: 0;}

.image-section img {
  width: 100%;
  height: auto;
}

.image-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 15rem;
  background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}



@media screen and (max-width: 45rem)  { 
    .wadding-area {width:100%}
}



