html,body{
    width:100%;  
    height:100%;
}


.juha-main::-webkit-scrollbar {display: none;}	

.juha.content-area .content {margin: 0 auto;width: 80vw;}

.juha.sub-title-area {padding: 3.6rem 0 4.6rem;} 
.juha.sub-title-area .sub-title {font-size: 2.4rem;line-height: 2.4rem;font-weight: 500; text-align: center;}
.juha.sub-title-area p {padding-top: 0.9rem;font-size: 1.3rem;font-weight: 400;line-height: 1.8rem;}

/***문의***/
.btn-area-main {display: inline-block; text-align: center; padding:2rem 0 ;}
.btn-area-main button {background-color: var(--doznBlue);
	border: none;
	color: white;
	width: 65vw;
	height: 6rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1.8rem;
	font-weight: 700;
	border-radius: 1.2rem;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
	cursor: pointer;}
.btn-area-main button:active  {background-color:#3468CC;}
.btn-area-main button:first-child {margin-bottom:2rem;}

.btn-area-main button img {vertical-align: bottom; padding-right: 1rem;}


/*F&Q__tab*/
.radio-check-list {margin:2rem 0;
	padding:0.8rem;  border-radius: 1.2rem;
	background: rgba(255, 255, 255, 0.20);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20);
	backdrop-filter: blur(5px);}
.radio-check-list h3 {padding-bottom: 1rem; text-align: center; font-size: 2rem; font-weight: 700;}
.radio-check-list label{ display:flex; flex-direction:row;  justify-content: space-between;} 
ul.tabs {display: flex; flex-direction: row;  justify-content: space-between;}
ul.tabs li{
	width: 23%;
	height: 3.8rem;
	background:var(--white);
	color:#929292;
	display: inline-block;
	cursor: pointer;
	line-height: 3.8rem;
	font-size: 1.4rem;
	text-align: center;
	border-radius: 1rem;
	border:1px solid #f0f0f0;
}
.question-article a {display:inline-block;}
.question-article a:before {
    content: '';
    position: absolute;
    right: 0;
    width: 24px;
    height:24px;
	top: 8px;
    background: url(../img/icon_faq.png);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.08);
	border-radius: 100px;
}


.qna-item.open .question-article a:before {background-position: 0 24px;}

ul.tabs li.current { font-weight: 700;  background-color: var(--doznBlue);  color: var(--white); border-radius: 1rem; border:none;}
.tab-content{display: none;}
.tab-content.current{display: inherit;}


/*F&Q__list*/
.qna-item {
	padding:1rem 1.6rem; 
	border: 1px solid var(--border);
	border-radius: 1rem;
	background: var(--white);}
.qna-list li  {margin-top:1rem;}
.qna-item:first-child .question-article {border-top:0;}
.qna-item.on .question-article {border-bottom:0;}
.qna-item.on + .qna-item .question-article {border-top:0;}
.qna-item .question {
display:block; 
  position:relative; 
  width: 100%; 
  padding-right:1rem;
  height:4rem ; 
  line-height: 4rem;
  font-size:1.6rem; 
  font-weight: 700; 
  vertical-align: bottom;
  word-break: keep-all; 
  word-wrap: break-word;
  -webkit-transition:all 0.3s ease;
  -moz-transition:all 0.3s ease;
  -o-transition:all 0.3s ease;
  -ms-transition:all 0.3s ease;
  transition:all 0.3s ease;
}


.qna-item .question-article .arrow {
	position: relative;
	right:0;
}
.qna-item.on .question {font-weight: bold;}
.qna-item .question span.q {margin-right: 10px; display: inline-block; color: #648294;}
.qna-item .answer-article {display:none; padding-top:1rem;  border:0;  color:var(--txt-black); font-size:1.6rem; line-height:1.8rem;}
.qna-item .answer-article strong {font-weight:normal;}


/* email */
.form-register-customer {padding-top:4rem;}
.form-register-customer .field-wrap {margin-bottom:2rem}
.form-register-customer .field-wrap:last-child {margin-bottom:2rem}
.email {padding-bottom: 3rem;}
.content.email p {padding-bottom:4rem;line-height: 2rem; font-size: 1.09rem; color:var(--txt-lng);}
.content.email p::before {content: "";display: block; background: url("../img/alert-circle.svg") no-repeat; width:2rem; height:2rem; float: left; margin: 0 5px 0 0;}
.input-form {display: flex; flex-direction: row;}
.input-form button {border-radius: 0.6rem; background-color:#3a546c; width: 7.7rem; height: 3.5rem; color:#fff; font-size: 1.2rem; margin-left: 0.5rem;}
.input-form .hyphen {width: 2.4rem; height: 3.5rem; line-height: 3.5rem; color:#333; font-size: 1.3rem; text-align: center;}
.input-box {position: relative; flex: 2; }
.input-box select,
.input-box input {
	display: block; 
	width: 100%; 
	height: 4.36rem; 
	font-size: 1.4rem; 
	font-weight: 500; 
	border:0.13rem solid var(--input); 
	border-radius:1.09rem; 
	padding-left: 1rem;
	box-sizing: border-box;
	outline-color: var(--doznBlue);}

.input-box select,
.input-box input.select-form {box-sizing:border-box; background:url(../images/icon_arrow_down.png) right 0.5rem center no-repeat; background-size:1.4rem 0.8rem; text-align:center; padding-right:2rem;}
.input-box .date-form {box-sizing:border-box; background:url(../images/icon_calendar.png) right 0.5rem center no-repeat; background-size:1.6rem; padding-right:2rem;}
.input-box .icon-check-ok {position:absolute; top:0; right:0.75rem; width:1.5rem; height:100%; background:url(../images/check_on.jpg) no-repeat 0 45%; background-size:100% auto;}
input::placeholder { color: #aaaaaa; }
.input-box-area { position: relative; flex: 2; }
.input-box-area textarea {
	width: 100%; 
	padding:1rem 1.36rem;
	margin-bottom:1rem;
    box-sizing: border-box;
	border: 0.13rem solid #d8d8d8; 
	border-radius: 12px;
	outline-color: var(--doznBlue);}


/* btn */
.juha.btn-area {display:flex;flex-direction: column; flex-wrap: wrap;align-content: center; padding-top:3rem;}
.juha.btn-area .btn {display: inline-block;width: 25%;height: 3.3rem;line-height: 3.3rem;padding: 1rem 0;font-size: 1.4rem;font-weight: 500;text-align: center;color: #fff;background:  var(--doznBlue); border-radius: 1.5rem;}
.juha.btn-area .btn.btn-cancel {color:  var(--doznBlue);background: #D7DEFA;}


.btn-area {
	display: flex;
    flex-direction: row;
    justify-content: center
}
ul.btn-md li {
width: 12rem;
height: 3.8rem;
background: var(--white);
color: #929292;
display: inline-block;
cursor: pointer;
line-height: 3.8rem;
font-size: 1.4rem;
text-align: center;
border-radius: 1rem;
border: 2px solid #f0f0f0;
}

/* meada query */
@media screen and (max-width: 374px){
    html {font-size: 10px;}
}
@media screen and (min-width: 375px) and (max-width: 720px){
    html {font-size:10px;}
}
@media screen and (max-width: 721px) and (min-width: 960px){
    html {font-size:13px;}
}
@media screen and (max-width: 1920px) and (min-width: 960px){
    html {font-size: 15px;}
	.content {margin: 0 auto;width: 50vw;}

}

